body {
  background-color: #FBF7F4;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #6C9A8B;
}

h1 {
  color: #E8998D;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #eed2cc;
}

table th {
  background-color: #eed2cc;
  font-weight: bold;
  color: #6C9A8B;
}

table td:first-child {
  font-weight: bold;
}

button {
  background-color: #E8998D;
  border: none;
  color: #FBF7F4;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #6C9A8B;
}

input[type="date"], input[type="text"] {
  padding: 8px;
  border: 1px solid #eed2cc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  color: #6C9A8B;
  font-weight: bold;
}

.alert {
  background-color: #eed2cc;
  padding: 10px;
  margin-bottom: 10px;
}
