
 .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #e0e0e0;
    border-radius: 50%;
  }

  .roundNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 40px;
  }







* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBF7F4;
    color: #6C9A8B;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: #E8998D;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #FBF7F4;
    font-size: 36px;
    font-weight: bold;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type="date"],
form input[type="text"] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: #eed2cc;
    border: none;
    border-radius: 5px;
    color: #6C9A8B;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.buttons button:hover {
    background-color: #6C9A8B;
    color: #FBF7F4;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

table th,
table td {
    border: 1px solid #6C9A8B;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #eed2cc;
}

table th:first-child,
table td:first-child {
    text-align: center;
    width: 50px
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #ddd;
  }
  
  th {
    background-color: #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }


 
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #ff5e5e;
    border-radius: 50%;
  }
  
  .number {
    font-size: 32px;
    color: #fff;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .center-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
